body {
    background-image: url('/ProjetPerso/img/pokemon-poke-balls-wet-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .acceuil{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    background-color: black;
    color: white;
    border: 10%;
    width: 150px;
    height: 50px;
    text-align: center;
  }

  .Titre{
    text-align: center;
    color:maroon;
  }

  .histoire{
    background-color: bisque;
  }

  .projet1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    background-color: black;
    color: white;
    border: 10%;
    width: 150px;
    height: 50px;
}

.projet2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  background-color: black;
  color: white;
  border: 10%;
  width: 150px;
  height: 50px;
}

.projet3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  background-color: black;
  color: white;
  border: 10%;
  width: 150px;
  height: 50px;
}

.projet4 {
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  background-color: black;
  color: white;
  border: 10%;
  width: 150px;
  height: 50px;
}

.projet5 {
font-family: 'Courier New', Courier, monospace;
font-weight:bolder;
background-color: black;
color: white;
border: 10%;
width: 150px;
height: 50px;
}

.projet6 {
font-family: 'Courier New', Courier, monospace;
font-weight:bolder;
background-color: black;
color: white;
border: 10%;
width: 150px;
height: 50px;
}

.projet7 {
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  background-color: black;
  color: white;
  border: 10%;
  width: 150px;
  height: 50px;
}

.projet8 {
font-family: 'Courier New', Courier, monospace;
font-weight:bolder;
background-color: black;
color: white;
border: 10%;
width: 150px;
height: 50px;
}

.projet9 {
font-family: 'Courier New', Courier, monospace;
font-weight:bolder;
background-color: black;
color: white;
border: 10%;
width: 150px;
height: 50px;
}

.lignentete {
  border-top: 100px;
  border: 10px solid black;
  border-width: 30px  black;
}

.hr {
  font-size: large;
}

.ligne1 {
  border-top: 100px;
  border: 10px solid black;
  border-width: 30px  black;
}
.Hpkmn {
  text-align: center;
  background-color:bisque;
}
.entete {
  text-align:center;
}

.linkpage {
  text-align: center;
  background-color:bisque;
}

.histoire {
  text-align: center;
  background-color:bisque;
}

.histoiretexte {
  text-align:center;
}

.acceuil {
float:right;
}