body {
    background-image: url('/ProjetPerso/img/presbr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .Hpkmn {
    text-align: center;
    background-color:bisque;
  }

  .bro {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    background-color: black;
    color: white;
    border: 10%;
    width: 250px;
    height: 50px;
  }


  .br {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    background-color: black;
    color: white;
    border: 10%;
    width: 150px;
    height: 50px;
  }